/*Hasta 1200x860 se ve bien
Cambiar diseño a tamaños menores de eso*/

/*width 860 tamaño cel*/
*{
    transition: background-color 0.4s;
}
body {
    background-color: rgba(137,163,255,0.65);
    text-align: center;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Calibri, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("./media_index/fondo1.png");
    background-position: center;
    height: 100vh;
    transition: margin-bottom 0.4s;
}
#head{
    /*border: 2px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    text-align: left;
    margin: 0 0 3vw 2vw;
    h1{
        padding: 0;
        margin: 0;
        font-size: clamp(6rem, 7vw, 8rem);
    }
    h2{
        padding: 0;
        margin: 0;
        font-size: clamp(3rem, 3.5vw, 4rem);
        font-weight: normal;
    }
}
#upslp{
    position: absolute;
    align-self: flex-start;
    justify-self: right;
    width: 25vh;
    margin: 2vh;
    img{
        border-radius: 1vh;
        filter: opacity(80%);
    }
}

#selector{
    display: flex;
    flex-direction: row;
    position: fixed;
    overflow: hidden;
    align-items: center;
    z-index: 1;
    height: 0;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    background-color: #222222;
    transition: height 0.4s;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

section{
    margin: 0 0 2vh 0;
}
img{
    width: 100%;
}
iframe{
    width: 95vw;
    margin: 0 2vw 0 2vw;
    transition-timing-function: ease-in;
    transition: width 0.8s;
    border: none;
    align-self: center;
    height: 90%;
    background-color: #eaeeff;
    overflow: hidden;
    border-radius: 7px;
}

#btn-cel{
    display: none;
    padding: 1vh;
    height: 6vh;
    width: 6vh;
}

#titulo{
    margin: 0 auto 0 2vw;
    text-align: left;
}
#titulo div:first-child{
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    padding: 2vh 0 1vh 0;
}
#titulo div:last-child{
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    padding: 0 0 2vh 0;
}

#boton-nav{
    display: flex;
}

#boton-nav ul{
    display: flex;
    justify-content: center;
    margin: 0 2vw;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);

}

#boton-nav li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 2vw auto 2vw;
    border-radius: 15px;
    padding: 5% 10px 5% 10px;
    height: 30%;
    transition: color 0.2s;
}
#boton-nav li:first-child{
    background-color: whitesmoke;
    color: black;
}

#boton-nav li:hover{
    background-color: #c2c3c4 !important;
    color: black !important;
    cursor: pointer;
}
#boton-nav li:active{
    background-color: whitesmoke !important;
    color: black !important;
    cursor: pointer;
}

.subtitulo{
    margin: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3D405B;
    padding: 0;
    transition: margin-top 0.4s, background-color 0.4s;
}
.subtitulo h2{
    margin-right: auto;
    margin-left: auto;
    font-size: 2rem;
}
.boton-menu{
    display: flex;
    padding-left: 15px;
    height: inherit;
    object-fit: contain;
}

.contenido{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    object-fit: scale-down;
    width: 100%;
    margin: 0 0 5vh 0;
    height: 77vh;/*77*/
    background-color: rgba(114,120,146,0.74);
    align-content: center;
    transition-delay: 0s;
    transition: height 1s;

}
.menu{
    padding: 2% 0 2% 0;
    background-color: rgba(87, 102, 162, 0.74);
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    transition-timing-function: ease-in;
    transition: width 0.8s, background-color 0.4s;
    scrollbar-color: #3b5e3b rgba(115,152,114,0.74);
}

.button{
    background-color: rgba(47,46,80,0.74);
    padding: 10px;
    margin: 1vh 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-radius: 7px;
    font-size: clamp(1rem, 2.5vw, 2vh);
    height: 2vh;
    transition: color 0.4s;
    overflow: hidden;
}

.menu:nth-child(1) a:first-child .button{
    background-color: #044069;
}

.menu:nth-child(1) .button:hover{
    background-color: #56a0d2 !important;
}
.menu:nth-child(2) .button:hover{
    background-color: rgb(62, 119, 81) !important;
}
.menu:nth-child(3) .button:hover{
    background-color: #fc8469 !important;
}

@media (max-width: 860px) {
    #head{
        h1{
            font-size: clamp(4rem, 6vw, 7rem);
        }
        h2{
            font-size: clamp(2rem, 2.5vw, 3rem);
        }
    }
    #selector{
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
        align-items: flex-start;
        justify-content: space-between;
    }
    #btn-cel{
        display: flex;
    }
    #titulo{
        margin: 0 2vw auto 2vw;
        text-align: left;
    }
    #titulo div:first-child{
        font-size: clamp(1.5rem, 2vh, 2rem);
        padding: 2vh 0 1vh 0;
    }
    #titulo div:last-child{
        font-size: clamp(0.8rem, 1.5vw, 1.8rem);
        padding: 0 0 2vh 0;
    }

    #boton-nav{
        margin: 0 1vh 1vh 1vh;
        width: calc(100% - 2vh);
    }

    #boton-nav ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20% 0 20% 0;
        align-items: center;
        margin: 0 2vw;
        width: 100%;
        font-size: clamp(1rem, 2.5vw, 1.5rem);
    }
    #boton-nav li{
        flex-basis: 7vh;
        width: 100%;
        margin: 2vh 0;
        border-radius: 15px;
        padding: 0;
        height: 15vh;
    }
}