*{
    transition: background-color 0.4s;
}
body {
    background-color: rgba(137,163,255,0.65);
    text-align: center;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Calibri, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("./media_index/fondo1.png");
    background-position: center;
    height: 100vh;
    transition: margin-bottom 0.4s;
}
#head{
    /*border: 2px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    text-align: left;
    margin: 0 0 3vw 2vw;
    h1{
        padding: 0;
        margin: 0;
        font-size: clamp(6rem, 7vw, 8rem);
    }
    h2{
        padding: 0;
        margin: 0;
        font-size: clamp(3rem, 3.5vw, 4rem);
        font-weight: normal;
    }
}
#upslp{
    align-self: flex-start;
    width: 15vw;
    margin: 2vw;
    img{
        border-radius: 8px;
        filter: opacity(80%);
    }
}

nav{
    display: flex;
    position: fixed;
    overflow: hidden;
    align-items: center;
    z-index: 1;
    height: 0;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    background-color: #222222;
    transition: height 0.4s;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

section{
    margin: 0 0 2vh 0;
}
img{
    width: 100%;
}
iframe{
    width: 95vw;
    margin: 0 2vw 0 2vw;
    transition-timing-function: ease-in;
    transition: width 0.8s;
    border: none;
    align-self: center;
    height: 90%;
    background-color: #eaeeff;
    overflow: hidden;
    border-radius: 7px;
}

#titulo{
    margin: auto auto 0 2vw;
    text-align: left;
}
#titulo div:first-child{
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    padding: 2vh 0 1vh 0;
}
#titulo div:last-child{
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    padding: 0 0 2vh 0;
}

#boton-nav{
    display: flex;
}

#boton-nav ul{
    display: flex;
    justify-content: center;
    margin: 0 2vw;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

#boton-nav li{
    object-fit: cover;
    list-style: none;
    margin: auto 2vw auto 2vw;
    border-radius: 1vw;
    padding: 5% 10px 5% 10px;
    transition: color 0.2s;
}
#boton-nav li:first-child{
    background-color: whitesmoke;
    color: black;
}

#boton-nav li:hover{
    background-color: #c2c3c4 !important;
    color: black !important;
    cursor: pointer;
}

.subtitulo{
    align-items: center;
    margin: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    background-color: #3D405B;
    transition: margin-top 0.4s;
}
.subtitulo h2{
    margin-right: auto;
    margin-left: auto;
    font-size: 2rem;
}
.boton-menu{
    display: compact;
    text-align: left;
    padding-left: 15px;
    width: 5%;
    height: fit-content;
    object-fit: contain;

       /* filter: hue-rotate(250deg);*/

}

.contenido{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    margin: 0 0 5vh 0;
    height: 77vh;/*77*/
    background-color: rgba(114,120,146,0.74);
    align-content: center;
    transition-delay: 0s;
    transition: height 1s;

}
.menu{
    /*padding: 5% 0 5% 0;*/
    background-color: rgba(87, 102, 162, 0.74);
    height: 100%;
    overflow: hidden;
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    transition-timing-function: ease-in;
    transition: width 0.8s, background-color 0.4s;

}

.menu a{
   margin: 0 10% 0 10%;
}
.button{
    background-color: rgba(47,46,80,0.74);
    padding: 10px;
    color: transparent;
    border-radius: 7px;
    text-align: center;
    font-size: clamp(0.7rem, 2vw, 18px);
    height: 18px;
    transition: color 0.3s;
}

/*footer{
    height: 20vh;
}*/